# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
.venv/
plpd_env/

# Packaging metadata
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Temporary files
*.png
